.bg {
	background-image: url("../img/bg.png");
	 
}
.grid {
	max-width: 1200px;
	margin-left: auto;
    margin-right: auto;
	display: grid;
	grid-gap: 20px;
	grid-template-areas:
		"header"
		"slider"
		"main"
		"opinie"
		"footer";
}
header {
	grid-area: header;
}
}
main {
	grid-area: main;
}
footer {
	grid-area: footer;
}

	.grid header {
		display: grid;
		grid-template-columns:30% 70%;
		border: 1px solid red;
	}
	.grid header .menu{
		display: grid;
		grid-template-columns:auto auto auto;
	}
	.grid header div li{
		border: 1px solid red;
		list-style-type: none;
		margin: auto;
	}
	.grid header div li a{
		color: #000;
	}
  .titlu { grid-area: titlu; }
  .despre1{ grid-area: despre1;}
  .despre2{ grid-area: despre2;}
  .despre3{ grid-area: despre3;}
  .titlu2 { grid-area: titlu2; }
  .coment1{ grid-area: coment1;}
  .coment2{ grid-area: coment2;}
  .coment3{ grid-area: coment3;}

.gridmain {
	display:grid;
	grid-template-areas:
		"titlu titlu titlu"
		"despre1 despre2 despre3"
		"titlu2 titlu2 titlu2"
		"coment1 coment2 coment3"
}
@media screen and (max-width: 600px) {
.gridmain {
	display:grid;
	grid-template-areas:
		"titlu titlu "
		"despre1 despre2"
		"despre3 despre3"
		"titlu2 titlu2 "
		"coment1 coment2"
		"coment3 coment3"
}
}
.gridmain div h2{
	color:black;
}
.stdes{
	border:1px solid red;
}
.foto{
	width:100px;
	height:100px;
	margin-left: auto;
    margin-right: auto;
    border:1px solid red;
}
.gridmain .titlu {
	margin-left: auto;
    margin-right: auto;
}
.gridmain .titlu2 {
	margin-left: auto;
    margin-right: auto;
}
.gridmain .des {
	margin-left: auto;
    margin-right: auto;
}

.grid > * {
	color: #ffffff;
	font-size: 18px;
	font-family: roboto;
}